stages:
  test
  coverage
  deploy

python3-tests:
  stage: test
  image: $CI_REGISTRY/gdraheim/ci_image_python3
  before_script:
    - git config --global user.email "superman@example.test"
    - git config --global user.name "Clar Kent Superman"
  script:
    - make style || true
    - make type
    - make teststage
    - find . -name '*.xml'
  artifacts:
    reports:
      junit: "TEST-*.xml"

python3-coverage:
  stage: coverage
  image: $CI_REGISTRY/gdraheim/ci_image_python3
  before_script:
    - git config --global user.email "superman@example.test"
    - git config --global user.name "Clar Kent Superman"
  script:
    - make coverage
    - find . -name '*.xml'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: tmp/coverage.xml
  rules:
    - when: on_success

pip3-install:
  stage: deploy
  image: docker:cli
  services:
    - docker:dind
  variables:
      DOCKER_LIBRARY: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/library
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - |
      TAG=`basename "$CI_COMMIT_BRANCH"`
      [ "$CI_DEFAULT_BRANCH" == "$TAG" ] && TAG="latest"
      { echo "FROM python:3.13"
      ; echo "RUN python3 -m pip install git_show_bigfiles"
      ; echo "RUN python3 -m git_show_bigfiles --version"
      ; } > Dockerfile
      docker build --pull -t "$CI_REGISTRY_IMAGE:$TAG" .
      docker push "$CI_REGISTRY_IMAGE:$TAG"
  after_script:
      - docker logout $CI_REGISTRY
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile
